body {
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.login-title {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}